@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* { /*Deixa bordas zeradas por padrão*/
    margin: 0;
    padding: 0;
    border: none;
}

:root { /*Variaveis de cores*/
    --color-green: #50fa7b;
    --color-pink: rgb(224, 36, 94);
    --color-youtubeGreyMedium: #323232; /*cinza medio youtube*/
    --color-youtubeGreyStrong: #282828; /*cinza forte youtube*/
    --color-purpleRocketseat: #7159c1; /*Roxo Rocketseat*/
    --color-twitterGrey: #282a36; /*cinza azulado twitter*/
}

body {
    background-color: var(--color-youtubeGreyStrong);
    color: black;
    font-family:'Open Sans', sans-serif;
}

header {
    background-color: var(--color-twitterGrey);
    padding: 32px;
    text-align: center;
    box-sizing: border-box;
}